{% extends "base_layout.html" %}
{% block title %}Bem-vindo - Garimpo Imports{% endblock %}
{% block content %}
<div class="text-center py-5">
    <h1 class="display-4"><i class="fas fa-gem" style="color: var(--cor-principal);"></i> Garimpo Imports</h1>
    <p class="lead">Sua outlet online para produtos importados e de marcas. Acumule pontos e ganhe presentes!</p>
    <hr class="my-4">
    <p>Junte-se ao nosso clube de fidelidade para ter acesso a benefícios exclusivos.</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('auth.cadastro_cliente') }}" role="button">Crie sua Conta</a>
</div>
{% endblock %}
