{% extends "base_layout.html" %}
{% block title %}Login Administrador{% endblock %}
{% block content %}
<div class="auth-wrapper">
    <div class="auth-form-container">
        <div class="text-center mb-4">
            <h2 class="h3 mb-3 font-weight-normal">Acesso Administrativo</h2>
        </div>
        <form method="POST" action="" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label }}
                {{ form.username(class="form-control", placeholder="Nome de Usuário") }}
                {% for error in form.username.errors %}<small class="text-danger">{{ error }}</small>{% endfor %}
            </div>
            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class="form-control", placeholder="Senha") }}
                {% for error in form.password.errors %}<small class="text-danger">{{ error }}</small>{% endfor %}
            </div>
            {{ form.submit(class="btn btn-lg btn-secondary btn-block mt-4") }}
        </form>
    </div>
</div>
{% endblock %}
